.episodesResult {
    max-height: 400px;
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
    border: 1px solid grey;
    overflow: hidden;
}
