.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  gap: 8px;
  overflow: hidden;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 32px;
  overflow: hidden;
  padding: 0 24px 20px;
}


@media (max-width: 520) {
  .main {
    padding: 0 8px;
    gap: 8px;
  }
}

